h5{
    color: lightskyblue;
}
/* img{
    width: 300px;
    height: auto;
    display: block;

} */
img:hover{
   transform: scale(1.1);
   transition: 0.3s;
   opacity: 0.8;
   background-color: red;
}
/* .image-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e60c0c;
    overflow: hidden;
    background-color: red;

}
.image-box img{
    width: 100%;
    height: 100%;
} */
.custom-background{
    background: linear-gradient(to right, lightblue, pink);
    margin: 5px;
    padding: 5px;
}

nav{
    background-color: linear-gradient(to right, lightblue, pink);
    color: black;
    padding: 10px;
    
    border: 3px solid  lightblue ;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);

}


.navbar-brand{
    color: white;
    font: italic small-caps bold 18px "Times New Roman", serif;
}
.nav-item{
    
    font-style: italic;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.dropdown-menu{
   color: #fc6f11;
    border-radius: 20px; /* Rounded corners */
}
.dropdown-item {
    color: rgb(201, 12, 12); /* White text */
    font-family: 'Arial', sans-serif; /* Custom Font */
    font-size: 15px;
    border-radius: 20px;
}


/* for Login page CSS from here */
/* h1{
    color: #fc6f11;
    font-weight: bold;
    font-style: italic;
    
    font: italic small-caps bold 20px "Times New Roman", serif;
    

}
.col-md-4{
    color: #fc6f11;
    font: italic small-caps bold 18px "Times New Roman", serif;

}
.my-3{
    background: linear-gradient(to right, lightblue, pink);
    
} */

.login-box{
    width: 400px;
    background: linear-gradient(to right, lightblue, pink);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    padding: 20x;
}
/* Add space around the form element */
.login-box .form-label{
    font-weight: bold;

}
.login-box .btn{
    width: 100px;
}
/*Improve button spacing*/
.login-box .text-center a{
    margin-left: 10px;
}
/* Base html nav bar edit*/
.navbar-brand{
    background: linear-gradient(to right, lightblue, pink);
    border-radius: 10px;

}
.container-fluid{
    background: whitesmoke;
    border-radius: 10px;
}

/*Register html edit css part start from here*/
.register-box{
    width: 400px;
    background: linear-gradient(to right, lightblue, pink);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.8);
    padding: 20px;

}

.register-box .form-label{
    font-weight: bold;
}

.register-box .btn{
    width: 110px;

}

.register-box .text-center a{
    margin-left: 20px;
}