{% extends "base.html" %}
{% block body %}
<div class= "container my-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded ">
<div class ="container my-3  " >
    <h1> Login </h1>
    {% if error %}
    <p style ="color= red;"> {{error}}</p>
    {% endif %}
    <form  action="/login" method="POST">
      <div class="col-md-4">
    <label for="email">Email</label>
    <div class="input-group has-validation">
    <span class="input-group-text" id="inputGroupPrepend3">@</span>
    <input type="text" class="form-control" id="email" name="email" required placeholder="...@gmail.com">
      </div>
    </div>
  </div>
<div class ="container my-3" >
  <div class="col-md-4 ">  
    <label for="password" class="form-label">Password</label>
    <div class="input-group has-validation">
    <span class="input-group-text" id="inputGroupPrepend3">*</span>  
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div>
  </div>
  <div class ="container my-3" >  
  <button type="submit" value= "Login" class="btn btn-primary">Login</button>
  <a href ='/register' class="btn btn-primary">Register</a>
  <a href ="/firstpage" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
  </div>
</form>
</div>



{% endblock body %}